/* Hero section */
.hero-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 300px;
  padding: 2rem 1rem;
  margin-bottom: 54px;
}
.hero-section h1 {
  font-size: 50px;
  margin-bottom: 1.5rem;
  text-align: center;
  max-width: 670px;
  color: #130483;
}
.hero-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1rem;
}
.hero-container p {
  color: #837ea6;
  font-size: 20px;
  text-align: center;
  margin-bottom: 2rem;
}
.create-poll-btn {
  background-color: #ffee00;
  color: #130483;
  border: none;
  border-radius: 980px;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  width: 170px;
  align-self: center;
}

/* Feature section */
.features-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 54px;
  padding: 20px 130px;
}
.features-section h2 {
  text-align: center;
  color: #130483;
  margin-bottom: 3rem;
}
.features-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
.feature {
  background-color: #190896;
  padding: 2.5rem;
  border-radius: 18px;
  height: 238px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.feature h3 {
  font-size: 20px;
  color: #fff237;
}
.feature p {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

/* How it works */
.usage-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 54px;
  padding: 20px 130px;
}
.usage-section h2 {
  text-align: center;
  color: #130483;
  margin-bottom: 3rem;
}
.usage-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.usage {
  background-color: #fff237;
  width: 50%;
  padding: 2rem;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.usage h4 {
  font-size: 1rem;
  font-weight: bold;
}
.usage p {
  font-size: 13px;
  font-weight: bold;
  color: #13048383;
}

/* FAQ Section */
.faq-section {
  margin-top: 3rem;
  padding: 20px 130px;
  margin-bottom: 54px;
}
.faq-section h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #130483;
}
.faq-item {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-bottom: 3px solid #fff237;
  transition: background-color 0.3s ease;
}

.faq-item summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
  list-style: none;
  cursor: pointer;
}

.faq-item summary::-webkit-details-marker {
  display: none;
}

.arrow-icon img {
  width: 16px;
  height: 16px;
  margin-left: 1rem;
  transition: transform 0.3s ease;
}

.faq-item[open] .arrow-icon img {
  transform: rotate(180deg);
}

.faq-item p {
  margin-top: 0.5rem;
  color: #4a5568;
  padding-left: 0.5rem;
}
@media (max-width: 768px) {
  .hero-section {
    height: 200px;
  }
  .hero-section h1 {
    font-size: 1.8rem;
  }
  .hero-container p {
    font-size: 15px;
    margin-bottom: 1.5rem;
  }
  .usage-section {
    text-align: center;
    padding: 20px 40px;
  }
  .usage {
    width: 100%;
  }
  .features-section {
    padding: 20px 40px;
  }
  .faq-section {
    padding: 20px 40px;
  }
  .create-poll-btn {
    border-radius: 980px;
    padding: 0.8rem 1.5rem;
    width: 150px;
    align-self: center;
    font-size: 15px;
  }
}
